body {
    background-color: #f0ffff;
}

.wrapper {
    width: 360px;
    margin: 30px auto;
}

.container {
    display: flex;
}

.item-95 {
    flex-basis: 95px;
}

.item-130 {
    flex-basis: 130px;
}

.item-270 {
    flex-basis: 270px;
}

.item-305 {
    flex-basis: 305px;
}

.h-50 {
    height: 50px;
}

.h-30 {
    height: 30px;
}

.lnh-80 {
    line-height: 80px;
}

.text-center {
    text-align: center;
}